amundsen-databuilder==3.3.2
asn1crypto==1.4.0
atomicwrites==1.1.5
attrs==20.2.0
azure-common==1.1.25
azure-core==1.8.2
azure-storage-blob==12.5.0
boto3==1.14.63
botocore==1.17.63
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
coverage==5.3
cryptography==2.9.2
docutils==0.15.2
elasticsearch==6.8.1
flake8==3.5.0
flake8-tidy-imports==1.1.0
httplib2==0.18.1
idna==2.9
importlib-metadata==2.0.0
isodate==0.6.0
jmespath==0.10.0
mccabe==0.6.1
mock==2.0.0
more-itertools==4.2.0
msrest==0.6.19
mypy==0.782
mypy-extensions==0.4.3
neo4j-driver==1.7.2
neobolt==1.7.17
neotime==1.7.1
oauthlib==3.1.0
oscrypto==1.2.1
pbr==5.5.0
pluggy==0.13.1
py==1.5.3
pycodestyle==2.3.1
pycparser==2.20
pycryptodomex==3.9.8
pyflakes==1.6.0
pyhocon==0.3.42
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.2.0
pytest==3.10.1
pytest-cov==2.9.0
pytest-mock==1.13.0
python-dateutil==2.8.1
pytz==2018.4
PyYAML==5.3.1
requests==2.23.0
requests-oauthlib==1.3.0
responses==0.10.6
retrying==1.3.3
s3transfer==0.3.3
six==1.15.0
snowflake-connector-python==2.3.3
snowflake-sqlalchemy==1.2.4
SQLAlchemy==1.3.19
statsd==3.2.1
typed-ast==1.4.1
typing==3.6.4
typing-extensions==3.7.4.3
unicodecsv==0.14.1
Unidecode==1.1.1
urllib3==1.25.10
zipp==3.3.0
